<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Księgarnia</title>
</head>
<body>
    <h1>Księgarnia</h1>
    <ul>
        <li><a href="/reviews">Recenzje książek</a></li>
        <li><a href="/authors">Autorzy</a></li>
    </ul>
    <br>
    <hr>
{{{body}}}

<br><br><footer>Stworzył: Kacper Nicpoń, Index: 18368&copy</footer>
</body>
</html>